.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 76px;
}

.nav-head .logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  width: 115px;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-weight: 500;
  color: #2e2f42;
}

@media screen and (min-width: 768px) {
  .nav-list {
    flex-direction: row;
  }
}

.nav-link {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
@media screen and (min-width: 768px) {
  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding: 24px 0;
  }
}
.nav-link-active {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .nav-link-active::after {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
  }
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address-list {
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .address-list {
    gap: 12px;
  }
}
@media screen and (min-width: 1158px) {
  .address-list {
    gap: 40px;
    flex-direction: row;
  }
}

.address {
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .address {
    margin-bottom: 48px;
  }
}

.address-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .address-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1158px) {
  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

@media screen and (max-width: 767px) {
  .address-item:last-child .address-link {
    color: #4d5ae5;
  }
}
