.logo {
  display: block;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #4d5ae5;
}

.logo-part {
  color: #f4f4fd;
}

.logo-footer-container .logo {
  margin-bottom: 16px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.logo-studio {
  color: #2e2f42;
}

.header-container .logo {
  /* margin-right: 76px; */
  padding: 16px;
}
