.title-two {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
