.team-section {
  background-color: #f4f4fd;
}

.team-background {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.container .title-two {
  margin-bottom: 72px;
}

.container .team-background-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

.team-background-list .team-background {
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  overflow: hidden;
}

.name-position {
  padding: 32px 0;
}

.title-three {
  margin-bottom: 8px;
  text-align: center;
}

.paragraph-text {
  margin-bottom: 8px;
  text-align: center;
}
